html {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.container {
    margin-top: 2rem;
    max-width: 1000px;
    width: 100%;
    margin-inline: auto;
}

p {
    color: red;
}